# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Data and Models
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/restaurants.parquet

data/interim/*
models/*

# Environment variables
.env

# Logs
logs/
*.log
